@{
    ViewData["Title"] = "History of Turkey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>


<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspTurkey (officially the Republic of Turkey) is a country straddling Western Asia and Southeast Europe.
    It shares borders with Greece and Bulgaria to the northwest; the Black Sea to the north;
    Georgia to the northeast; Armenia, Azerbaijan, and Iran to the east; Iraq to the southeast;
    Syria and the Mediterranean Sea to the south; and the Aegean Sea to the west.
    Istanbul, the largest city, is the financial centre, and Ankara is the capital.
    Turks form the vast majority of the nation's population, and Kurds are the largest minority.

</p>

<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspTurkey is a regional power and a newly industrialized country, with a geopolitically strategic location.
    Its economy, which is classified among the emerging and growth-leading economies, is the twentieth-largest in the world by nominal GDP,
    and the eleventh-largest by PPP. It is a charter member of the United Nations, an early member of NATO, the IMF, and the World Bank,
    and a founding member of the OECD, OSCE, BSEC, OIC, and G20. After becoming one of the early members of the Council of Europe in 1950,
    Turkey became an associate member of the EEC in 1963, joined the EU Customs Union in 1995, and started accession negotiations with the European Union in 2005.

</p>

<h3>Turkish Flag</h3>

<img src="~/img/History/TurkishFlag.png" class="img" />

<h3>Etymology</h3>

<h4>Main article: Name of Turkey</h4>

<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspThe English name of Turkey (from Medieval Latin Turchia/Turquia) means "land of the Turks".
    Middle English usage of Turkye is evidenced in an early work by Chaucer called The Book of the Duchess (c. 1369).
    The phrase land of Torke is used in the 15th-century Digby Mysteries.
    Later usages can be found in the Dunbar poems, the 16th century Manipulus Vocabulorum (Turkie) and Francis Bacon's Sylva Sylvarum (Turky).
    The modern spelling Turkey dates back to at least 1719.

</p>


<h3>History</h3>

<h4>Prehistory of Anatolia and Eastern Thrace</h4>

<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspThe Anatolian peninsula, comprising most of modern Turkey, is one of the oldest permanently settled regions in the world.
    Various ancient Anatolian populations have lived in Anatolia, from at least the Neolithic until the Hellenistic period.
    Many of these peoples spoke the Anatolian languages, a branch of the larger Indo-European language family and,
    given the antiquity of the Indo-European Hittite and Luwian languages, some scholars have proposed Anatolia as the hypothetical centre from which
    the Indo-European languages radiated.
    The European part of Turkey, called Eastern Thrace, has also been inhabited since at least forty thousand years ago, and is known to have been in the Neolithic era by about 6000 BC.

</p>

<img src="~/img/History/GobekliTepe.jpg" class="img" />


<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspGöbekli Tepe is the site of the oldest known man-made religious structure, a temple dating to circa 10,000 BC,
    while Çatalhöyük is a very large Neolithic and Chalcolithic settlement in southern Anatolia, which existed from approximately 7500 BC to 5700 BC.
    It is the largest and best-preserved Neolithic site found to date and is a UNESCO World Heritage Site.
    The settlement of Troy started in the Neolithic Age and continued into the Iron Age.
    The earliest recorded inhabitants of Anatolia were the Hattians and Hurrians, non-Indo-European peoples
    who inhabited central and eastern Anatolia, respectively, as early as c. 2300 BC. Indo-European Hittites came to Anatolia and gradually absorbed the Hattians and Hurrians c. 2000–1700 BC.
    The first major empire in the area was founded by the Hittites, from the 18th through the 13th century BC.
    The Assyrians conquered and settled parts of southeastern Turkey as early as 1950 BC until the year 612 BC,
    although they have remained a minority in the region, namely in Hakkari, Şırnak and Mardin.
    Urartu re-emerged in Assyrian inscriptions in the 9th century BC as a powerful northern rival of Assyria.
    Following the collapse of the Hittite empire c. 1180 BC, the Phrygians, an Indo-European people, achieved ascendancy in Anatolia
    until their kingdom was destroyed by the Cimmerians in the 7th century BC.
    Starting from 714 BC, Urartu shared the same fate and dissolved in 590 BC, when it was conquered by the Medes. The most powerful of Phrygia's successor states were Lydia, Caria and Lycia.

</p>

<h4>Antiquity</h4>

<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspStarting around 1200 BC, the coast of Anatolia was heavily settled by Aeolian and Ionian Greeks.
    Numerous important cities were founded by these colonists, such as Miletus, Ephesus, Smyrna (now İzmir) and Byzantium (now Istanbul),
    the latter founded by Greek colonists from Megara in 657 BC. The first state that was called Armenia by neighbouring peoples was the state of the Armenian Orontid dynasty,
    which included parts of eastern Turkey beginning in the 6th century BC. In Northwest Turkey, the most significant tribal group in Thrace was the Odyrisians, founded by Teres I.
    All of modern-day Turkey was conquered by the Persian Achaemenid Empire during the 6th century BC.
    The Greco-Persian Wars started when the Greek city states on the coast of Anatolia rebelled against Persian rule in 499 BC.
    The territory of Turkey later fell to Alexander the Great in 334 BC,[50] which led to increasing cultural homogeneity and Hellenization in the area.
    Following Alexander's death in 323 BC, Anatolia was subsequently divided into a number of small Hellenistic kingdoms,
    all of which became part of the Roman Republic by the mid-1st century BC. The process of Hellenization that began with Alexander's conquest accelerated under Roman rule,
    and by the early centuries of the Christian Era, the local Anatolian languages and cultures had become extinct, being largely replaced by ancient Greek language and culture.
    From the 1st century BC up to the 3rd century CE, large parts of modern-day Turkey were contested between the Romans and neighbouring Parthians through the frequent Roman-Parthian Wars.

</p>


<img src="~/img/History/Hattusa.jpg" class="img" />

<h4>Early Christian and Byzantine period</h4>

<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspAccording to Acts of Apostles 11, Antioch (now Antakya), a city in southern Turkey, is the birthplace of the first Christian community.
    In 324, Constantine I chose Byzantium to be the new capital of the Roman Empire, renaming it New Rome. Following the death of
    Theodosius I in 395 and the permanent division of the Roman Empire between his two sons, the city, which would popularly come to be known as Constantinople,
    became the capital of the Eastern Roman Empire. This empire, which would later be branded by historians as the Byzantine Empire, ruled most of the territory of
    present-day Turkey until the Late Middle Ages; although the eastern regions remained firmly in Sasanian hands until the first half of the 7th century CE.
    The frequent Byzantine-Sassanid Wars, a continuation of the centuries-long Roman-Persian Wars, took place in various parts of present-day Turkey between the 4th and 7th centuries CE.
    Several ecumenical councils of the early Church were held in cities located in present-day Turkey including the First Council of Nicaea (Iznik) in 325,
    the First Council of Constantinople (Istanbul) in 381, the Council of Ephesus in 431, and the Council of Chalcedon (Kadıköy) in 451.

</p>


<img src="~/img/History/Halicarnauss.jpg" class="img" />

<h4>Seljuks and the Ottoman Empire</h4>

<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspThe House of Seljuk originated from the Kınık branch of the Oghuz Turks who resided on the periphery of the Muslim world,
    in the Yabgu Khaganate of the Oğuz confederacy, to the north of the Caspian and Aral Seas, in the 9th century.
    In the 10th century, the Seljuks started migrating from their ancestral homeland into Persia, which became the administrative core of the
    Great Seljuk Empire, after its foundation by Tughril. In the latter half of the 11th century, the Seljuk Turks began penetrating into medieval
    Armenia and the eastern regions of Anatolia. In 1071, the Seljuks defeated the Byzantines at the Battle of Manzikert, starting the Turkification process in the area;
    the Turkish language and Islam were introduced to Armenia and Anatolia, gradually spreading throughout the region. The slow transition from a predominantly
    Christian and Greek-speaking Anatolia to a predominantly Muslim and Turkish-speaking one was underway. The Mevlevi Order of dervishes, which was established in Konya
    during the 13th century by Sufi poet Celaleddin Rumi, played a significant role in the Islamization of the diverse people of Anatolia who had previously been Hellenized.
    Thus, alongside the Turkification of the territory, the culturally Persianized Seljuks set the basis for a Turko-Persian principal culture in Anatolia,
    which their eventual successors, the Ottomans, would take over.

</p>


<img src="~/img/History/HagiaSophia.jpg" class="img" />

<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspIn 1514, Sultan Selim I (1512–1520) successfully expanded the empire's southern and eastern borders by defeating Shah Ismail I of the Safavid dynasty in the Battle of Chaldiran.
    In 1517, Selim I expanded Ottoman rule into Algeria and Egypt, and created a naval presence in the Red Sea. Subsequently, a contest started between the Ottoman and
    Portuguese empires to become the dominant sea power in the Indian Ocean, with a number of naval battles in the Red Sea, the Arabian Sea and the Persian Gulf.
    The Portuguese presence in the Indian Ocean was perceived as a threat to the Ottoman monopoly over the ancient trade routes between East Asia and Western Europe.
    Despite the increasingly prominent European presence, the Ottoman Empire's trade with the east continued to flourish until the second half of the 18th century.
    The Ottoman Empire's power and prestige peaked in the 16th and 17th centuries, particularly during the reign of Suleiman the Magnificent,
    who personally instituted major legislative changes relating to society, education, taxation and criminal law.
    The empire was often at odds with the Holy Roman Empire in its steady advance towards Central Europe through the Balkans and the southern part of the Polish–Lithuanian Commonwealth.

</p>

<img src="~/img/History/Hattusa.jpg" class="img" />

<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspThe Ottoman Navy contended with several Holy Leagues, such as those in 1538, 1571, 1684 and 1717 (composed primarily of Habsburg Spain, the Republic of Genoa, the Republic of Venice,
    the Knights of St. John, the Papal States, the Grand Duchy of Tuscany and the Duchy of Savoy), for the control of the Mediterranean Sea.
    In the east, the Ottomans were often at war with Safavid Persia over conflicts stemming from territorial disputes or religious differences
    between the 16th and 18th centuries. The Ottoman wars with Persia continued as the Zand, Afsharid, and Qajar dynasties succeeded the
    Safavids in Iran, until the first half of the 19th century.
    Even further east, there was an extension of the Habsburg-Ottoman conflict, in that the Ottomans also had to send soldiers to their
    farthest and easternmost vassal and territory, the Aceh Sultanate in Southeast Asia, to defend it from European colonizers as
    well as the Latino invaders who had crossed from Latin America and had Christianized the formerly Muslim-dominated Philippines.
    From the 16th to the early 20th centuries, the Ottoman Empire also fought twelve wars with the Russian Tsardom and Empire.
    These were initially about Ottoman territorial expansion and consolidation in southeastern and eastern Europe; but starting from the Russo-Turkish War (1768–1774),
    they became more about the survival of the Ottoman Empire, which had begun to lose its strategic territories on the northern Black Sea coast to the advancing Russians.

</p>

<p>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspFrom the second half of the 18th century onwards, the Ottoman Empire began to decline. The Tanzimat reforms, initiated by Mahmud II just before his death in 1839,
    aimed to modernise the Ottoman state in line with the progress that had been made in Western Europe. The efforts of Midhat Pasha during the late Tanzimat era
    led the Ottoman constitutional movement of 1876, which introduced the First Constitutional Era, but these efforts proved to be inadequate in most fields, and
    failed to stop the dissolution of the empire.
    As the empire gradually shrank in size, military power and wealth; especially after the Ottoman
    economic crisis and default in 1875 which led to uprisings in the Balkan provinces that culminated in
    the Russo-Turkish War (1877–1878); many Balkan Muslims migrated to the Empire's heartland in Anatolia,[75][76] along with the Circassians
    fleeing the Russian conquest of the Caucasus. The decline of the Ottoman Empire led to a rise in nationalist sentiment among its various subject
    peoples, leading to increased ethnic tensions which occasionally burst into violence, such as the Hamidian massacres of Armenians.

    The loss of Rumelia (Ottoman territories in Europe) with the First Balkan War (1912–1913) was followed by the arrival of millions of Muslim refugees (muhacir) to Istanbul and Anatolia.
    Historically, the Rumelia Eyalet and Anatolia Eyalet had formed the administrative core of the Ottoman Empire, with their governors titled Beylerbeyi participating in the Sultan's Divan,
    so the loss of all Balkan provinces beyond the Midye-Enez border line according to the London Conference of 1912–13 and the Treaty of London (1913) was a major shock for the Ottoman society
    and led to the 1913 Ottoman coup d'état. In the Second Balkan War (1913) the Ottomans managed to recover their former capital Edirne (Adrianople) and its surrounding areas in East Thrace,
    which was formalised with the Treaty of Constantinople (1913). The 1913 coup d'état effectively put the country under the control of the Three Pashas, making sultans Mehmed V and Mehmed VI
    largely symbolic figureheads with no real political power.

</p>

<img src="~/img/History/WorldWar.jpg" class="img" />


<p>

    The Ottoman Empire entered World War I on the side of the Central Powers and was ultimately defeated. The Ottomans successfully defended the Dardanelles strait during the
    Gallipoli campaign (1915–1916) and achieved initial victories against British forces in the first two years of the Mesopotamian campaign,
    such as the Siege of Kut (1915–1916); but the Arab Revolt (1916–1918) turned the tide against the Ottomans in the Middle East. In the Caucasus campaign, however,
    the Russian forces had the upper hand from the beginning, especially after the Battle of Sarikamish (1914–1915). Russian forces advanced into northeastern Anatolia
    and controlled the major cities there until retreating from World War I with the Treaty of Brest-Litovsk following the Russian Revolution (1917).

</p>

<img src="~/img/History/images.png" class="img" />


<h4>Republic of Turkey</h4>

<p>

    The occupation of Istanbul (1918) and İzmir (1919) by the Allies in the aftermath of World War I prompted the establishment of the Turkish National Movement.
    Under the leadership of Mustafa Kemal Pasha, a military commander who had distinguished himself during the Battle of Gallipoli, the Turkish War of Independence (1919–1923)
    was waged with the aim of revoking the terms of the Treaty of Sèvres (1920).
    By 18 September 1922 the Greek, Armenian and French armies had been expelled, and the Turkish Provisional Government in Ankara, which had declared itself the legitimate
    government of the country on 23 April 1920, started to formalise the legal transition from the old Ottoman into the new Republican political system. On 1 November 1922, the
    Turkish Parliament in Ankara formally abolished the Sultanate, thus ending 623 years of monarchical Ottoman rule. The Treaty of Lausanne of 24 July 1923, which superseded the
    Treaty of Sèvres,[88][89] led to the international recognition of the sovereignty of the newly formed "Republic of Turkey" as the successor state of the Ottoman Empire, and
    the republic was officially proclaimed on 29 October 1923 in Ankara, the country's new capital. The Lausanne Convention stipulated a population exchange between Greece and
    Turkey, whereby 1.1 million Greeks left Turkey for Greece in exchange for 380,000 Muslims transferred from Greece to Turkey.
    Eighteen female deputies joined the Turkish Parliament with the 1935 general elections. Turkish women gained the right to vote and to hold elected office as a mark of the far-reaching
    social changes initiated by Atatürk.
    Mustafa Kemal became the republic's first President and subsequently introduced many reforms.
    The reforms aimed to transform the old religion-based and multi-communal Ottoman
    constitutional monarchy into a Turkish nation state that would be governed as a parliamentary
    republic under a secular constitution. With the Surname Law of 1934, the
    Turkish Parliament bestowed upon Mustafa Kemal the honorific surname "Atatürk" (Father Turk).
    
</p>
